<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Anoxic's Journal Viewer</title>
    <link rel="stylesheet" href="/static/css/journal.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.css"/>
    <link rel="icon" href="/static/journal/favicon.ico"/>
</head>
<body>
<!-- Search bar -->
<div class="header">
    <p id="sign-in-prompt">This is a website designed for keeping a journal, and
        is strongly customized to satisify the author's own need. For more
        information, visit the <a target="_blank" href="http://anoxic.me">author's
            homepage</a> for (possibly) more details. </p>
    <div id="search-new">
        <input type="text" id="query" class="search-text" autocomplete="off"
               onclick="this.select()"/>
        <input type="text" id="stats-query" class="search-text"
               autocomplete="off" onclick="this.select()"/>
    </div>
    <div id="search-result">
        <ul>
            <li class="search-data" id="total-entry">...</li>
            <li class="hidden search-data" id="total-image">...</li>
            <li class="hidden search-data" id="total-video">...</li>
            <li class="hidden search-data" id="total-voice">...</li>
            <li class="search-data" id="total-displayed">...</li>
            <li class="search-data" id="total-char">...</li>
            <li class="search-data" id="total-line">...</li>
            <li class="search-data" id="total-time">...</li>
        </ul>
    </div>
</div>
<div id="header-info">
    <div id="year"></div>
    <div id="other-status">
        <p id="last-updated"></p>
        <p id="token-expires-in"></p>
    </div>
</div>
<div class="response" id="errors"></div>
<div class="response" id="feedback"></div>
<div class="actions">
    <div id="action-media">
        <ul>
            <li class="has-sub">
                <a title="Play" id="play-media" onclick="app.audioPlayer.play()"
                   href="javascript:;">&#xf04b</a>
                <ul>
                    <li><a title="Stop" id="stop-media"
                           onclick="app.audioPlayer.quit()" href="javascript:;">&#xf04d</a>
                    </li>
                    <li><a class="hidden-icon hidden" title="Toggle fullscreen"
                           id="toggle-media"
                           onclick="app.videoPlayer.toggle()"
                           href="javascript:;">&#xf065</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="action-fullscreen">
        <ul>
            <li><a title="Toggle Light" id="toggle-light"
                   onclick="edit.toggleLight()" href="javascript:;">&#xf0eb</a>
            </li>
            <li><a title="Back to window" onclick="edit.windowMode()"
                   href="javascript:;">&#xf066</a></li>
        </ul>
    </div>
    <div id="action-add">
        <ul>
            <li><a class="hidden-icon hidden" title="Get current location"
                   id="pin-point" onclick="edit.locationPin()"
                   href="javascript:;">&#xf124</a></li>
            <li><a class="hidden-icon hidden" title="Remove"
                   id="action-remove-confirm"
                   onclick="edit.removeMedia(edit.confirmVal)"
                   href="javascript:;">&#xf00d</a></li>
            <li><a title="Add media from queue"
                   onclick="edit.addMediaFromQueue()" id="add-queue"
                   href="javascript:;">&#xf115</a>
            </li>
            <li><a title="Go fullscreen" onclick="edit.fullScreen()"
                   href="javascript:;">&#xf065</a></li>
            <li class="has-sub">
                <a title="Add Photos" onclick="edit.addMedia(0)" id="add-photo"
                   href="javascript:;">&#xf03e</a>
                <ul>
                    <li><a title="Add Video" onclick="edit.addMedia(1)"
                           id="add-video" href="javascript:;">&#xf03d</a>
                    </li>
                    <li><a title="Add Voice" onclick="edit.addMedia(3)"
                           id="add-voice" href="javascript:;">&#xf130</a>
                    </li>
                    <li><a title="Add Place" onclick="edit.addMedia(2)"
                           id="add-place" href="javascript:;">&#xf041</a>
                    </li>
                    <li><a title="Add Music" onclick="edit.addMedia(4)"
                           id="add-music" href="javascript:;">&#xf001</a>
                    </li>
                    <li><a title="Add Movie" onclick="edit.addMedia(5)"
                           id="add-movie" href="javascript:;">&#xf008</a>
                    </li>
                    <li><a title="Add Book" onclick="edit.addMedia(6)"
                           id="add-book" href="javascript:;">&#xf02d</a>
                    </li>
                    <li><a title="Add Link" onclick="edit.addMedia(7)"
                           id="add-link" href="javascript:;">&#xf0c1</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a title="Save" id="add-save-local" onclick="edit.save()"
                   href="javascript:;">&#xf0c7</a>
                <ul>
                    <li class="has-sub">
                        <a title="Discard and quit"
                           onclick="$('#edit-quit').removeClass('hidden')"
                           href="javascript:;">&#xf014</a>
                        <ul>
                            <li><a class="hidden-icon hidden" id="edit-quit"
                                   title="Confirm" onclick="edit.quit()"
                                   href="javascript:;">&#xf00c</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="action-archive">
        <ul>
            <li><a class="hidden-icon hidden" id="archive-restore"
                   title="Restore" onclick="archive.restore()"
                   href="javascript:;">&#xf019</a></li>
            <li class="has-sub">
                <a title="Apply the changes" onclick="archive.apply()"
                   href="javascript:;">&#xf058</a>
                <ul>
                    <li><a title="Reverse selection" onclick="archive.reverse()"
                           href="javascript:;">&#xf056</a></li>
                    <li><a title="Select archives below"
                           onclick="archive.selectBelow()" href="javascript:;">&#xf13a</a>
                    </li>
                    <li><a title="Remove all the attributes"
                           onclick="archive.clear()"
                           href="javascript:;">&#xf057</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a title="Delete this archive"
                   onclick="archive.toggle('delete')" href="javascript:;">&#xf1f8</a>
                <ul>
                    <li><a title="Toggle protection on this archive file"
                           onclick="archive.toggle('protect')"
                           href="javascript:;">&#xf023</a></li>
                </ul>
            </li>
            <li><a title="Refresh" id="archive-refresh"
                   onclick="archive.init('#archive-refresh')"
                   href="javascript:;">&#xf021</a>
            </li>
        </ul>
    </div>
    <div id="action-comment">
        <ul>
            <li class="has-sub">
                <a class="hidden-icon hidden" title="Reply this comment"
                   onclick="comment.reply()" href="javascript:;">&#xf112</a>
                <ul>
                    <li><a class="hidden-icon hidden"
                           title="Remove this comment"
                           onclick="comment.remove()"
                           href="javascript:;">&#xf00d</a></li>
                </ul>
            </li>
            <li><a title="Add a comment" onclick="comment.add()"
                   href="javascript:;">&#xf067</a></li>
            <li><a title="Main menu" onclick="comment.quit()"
                   href="javascript:;">&#xf0c9</a></li>
        </ul>
    </div>
    <div id="action-menu">
        <ul>
            <li><a class="hidden-icon hidden" title="Show images"
                   id="menu-show-images" onclick="app.showEntryImages()"
                   href="javascript:;">&#xf03e</a></li>
            <li><a class="hidden-icon hidden" title="Comment"
                   onclick="comment.init()">&#xf086</a></li>
            <li class="has-sub">
                <a title="Add an entry" id="add" onclick="edit.init()"
                   href="javascript:;"><span>&#xf067</span></a>
                <ul>
                    <li class="has-sub">
                        <a class="hidden-icon hidden" title="Read the archive"
                           id="reread" onclick="edit.init(false)"
                           href="javascript:;">&#xf187</a>
                        <ul>
                            <li>
                                <a title="Remove saved data and create a new entry"
                                   onclick="edit.init(true)"
                                   href="javascript:;">&#xf05e</a></li>
                        </ul>
                    </li>
                    <li class="li-add-entry-sub">
                        <a class="hidden-icon hidden" title="Edit this entry"
                           id="edit-this"
                           onclick="edit.init(undefined, app.currentDisplayed)"
                           href="javascript:;"><span>&#xf044</span></a>
                        <ul>
                            <li><a title="Remove saved data and edit this entry"
                                   onclick="edit.init(true, app.currentDisplayed)"
                                   href="javascript:;">&#xf00c</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="hidden-icon hidden" title="Delete this entry"
                           id="delete" onclick="edit.removeEntry()"
                           href="javascript:;"><span>&#xf00d</span></a>
                        <ul>
                            <li><a title="Confirm" onclick="edit.removeEntry()"
                                   href="javascript:;">&#xf00c</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a title="Integrate bulbs" id="bulb-fetch"
                   onclick="bulb.initFetchData()" href="javascript:;"><span>&#xf0a1</span></a>
            </li>
            <li>
                <a title="This year" id="this-year" onclick="app.next(true)"
                   href="javascript:;">&#xf015</a>
                <ul>
                    <li class="has-sub">
                        <a title="Previous year" id="prev-year"
                           class="hidden-icon hidden" onclick="app.prev()"
                           href="javascript:;">&#xf104</a>
                        <ul>
                            <li><a title="Earliest year"
                                   onclick="app.prev(true)" href="javascript:;">&#xf100</a>
                            </li>
                        </ul>
                    </li>
                    <li><a title="Next year" id="next-year"
                           class="hidden-icon hidden" onclick="app.next()"
                           href="javascript:;">&#xf105</a></li>
                </ul>
                <ul></ul>
            </li>
            <li class="has-sub">
                <a title="Refresh" id="refresh-media" onclick="app.refresh()"
                   href="javascript:;"><span>&#xf021</span></a>
                <ul>
                    <li><a title="Download latest data" id="download"
                           onclick="downloadFile()"
                           href="javascript:;">&#xf0ed</a>
                    </li>
                    <li class="has-sub">
                        <a title="Upload all changed data" id="upload-all"
                           onclick="uploadAllFiles()"
                           href="javascript:;">&#xf0ee<span>&#xf0c2</span></a>
                        <ul>
                            <li><a title="Update data" id="upload"
                                   onclick="uploadSingleFile()"
                                   href="javascript:;">&#xf0ee</a>
                            </li>
                        </ul>
                    </li>
                    <li><a title="Refresh token" onclick="refreshToken()"
                           href="javascript:;">&#xf084</a></li>
                    <li><a title="Toggle auto-refresh token"
                           id="toggle-refresh-token"
                           onclick="toggleAutoRefreshToken()"
                           href="javascript:;">&#xf204</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a title="Options" id="options">&#xf013</a>
                <ul>
                    <li class="has-sub">
                        <a title="Find lost media" onclick="app.checkResource()"
                           href="javascript:;">&#xf002</a>
                        <ul>
                            <li><a class="hidden-icon hidden"
                                   title="Return lost media"
                                   id="return-lost-media"
                                   onclick="app.cleanResource()"
                                   href="javascript:;">&#xf0f2</a></li>
                        </ul>
                    </li>
                    <li><a title="Toggle sensitive mode"
                           onclick="$('body').toggleClass('sensitive-mode')"
                           href="javascript:;">&#xf06e</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="action-stats">
        <ul>
            <li><a title="Reset the map" onclick="stats.initTable()"
                   href="javascript:;">&#xf014</a></li>
            <li>
                <a title="Toggle graph" onclick="stats.toggleGraph()"
                   href="javascript:;">&#xf080</a>
                <ul>
                    <li><a title="Download this chart"
                           onclick="Chart.exportChart()"
                           class="hidden-icon hidden"
                           href="javascript:;">&#xf019</a></li>
                    <li><a title="Toggle chart view" onclick=""
                           class="hidden-icon hidden"
                           href="javascript:;">&#xf133</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <a title="Sign in via OneDrive" id="signin" onclick="odauth(true)"
       href="javascript:;">&#xf090</a>
</div>
<div id="drawer" class="hidden">
    <div id="drawer-profile">
        <p>Welcome, <span id="username">Guest</span></p>
    </div>
    <hr/>
    <ul>
        <li class="drawer-menu display" id="drawer-view">
            <a onclick="animation.switch('view')" href="javascript:;">
                <span>&#xf03a</span>View
            </a>
        </li>
        <li class="drawer-menu" id="drawer-archive">
            <a id="undo-data" onclick="animation.switch('archive')"
               href="javascript:;">
                <span>&#xf1da</span>Archive
            </a>
        </li>
        <li class="drawer-menu" id="drawer-stats">
            <a onclick="animation.switch('stats')" href="javascript:;">
                <span>&#xf201</span>Stats
            </a>
        </li>
    </ul>
    <hr/>
    <ul>
        <li class="drawer-option">
            <a href="javascript:;">
                <span>&#xf013</span>Settings
            </a>
        </li>
        <li class="drawer-option">
            <a href="mailto:guanrunjie@gmail.com" target="_blank">
                <span>&#xf003</span>Feedback
            </a>
        </li>
    </ul>
</div>
<div id="video-fullscreen"></div>
<!-- Main frame of the viewer -->
<div id="app">
    <div id="contents">
        <div id="list"></div>
        <div id="detail"></div>
    </div>
    <div id="edit-pane"></div>
    <div id="stats-pane">
        <div id="stats-options">
            <ul>
                <li class="checkbox checked" encode="isIncludingTitles">
                    Including titles
                </li>
                <li class="checkbox" encode="isIncludingTags">Including tags
                </li>
            </ul>
        </div>
        <table id="stats-table"></table>
        <div id="graph"></div>
    </div>
</div>
<div id="version"></div>
<script id="odauth" src="/static/js/journal/odauth.v2.js"
        clientid="000000004C14D0D9"
        clientsecret="ywGrXJMufpTJxa5AsQCd3ovdMasZSnxf"
        scopes="wl.signin wl.offline_access onedrive.readwrite onedrive.appfolder"
        redirecturi="https://anoxdd.github.io/journal/callback.html"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYzTk0IOxZg2Od4kGjBPrqmk6UjdJx9OI&v=3.exp&libraries=places"></script>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/modernizr.min.js"></script>
<script src="/static/js/lib/jquery.grab.min.js"></script>
<script src="/static/js/lib/jquery.mousewheel.min.js"></script>
<script src="/static/js/lib/jquery.ui.min.js"></script>
<script src="/static/js/lib/jquery.hotkeys.js"></script>
<script src="/static/js/lib/underscore.min.js"></script>
<script src="/static/js/lib/swipe.min.js"></script>
<script src="/static/js/lib/highcharts.min.js"></script>
<script src="/static/js/journal/app.js"></script>
<script src="/static/js/journal/version.js"></script>
<script type="text/x-template" id="list-view">
    <%
    if (isBulb) {
    %>
    <li class="bulb">
        <%
        if (month != -1) {
        %>
        <p class="separator">
            <span>
                <%= month %>
            </span>
        </p>
        <%
        }
        %>
        <a href="javascript:;">
            <p class="datetime"><%= datetime %></p>
            <p class="summary sensitive"><%= summary %></p>
        </a>
    </li>
    <%
    } else {
    %>
    <li>
        <%
        if (month != -1) {
        %>
        <p class="separator">
            <span>
                <%= month %>
            </span>
        </p>
        <%
        }
        %>
        <a href="javascript:;">
            <div class="cover">
                <div class="ext"><%= ext %></div>
            </div>
            <p class="title sensitive"><%= title %></p>
            <p class="datetime"><%= datetime %></p>
            <p class="summary sensitive"><%= summary %></p>
            <div class="attached"><%= attached %></div>
        </a>
    </li>
    <%
    }
    %>
</script>
<script type="text/x-template" id="detail-view">
    <%
    if (isBulb) {
    %>
    <div class="head">
        <p class="charline"><%- chars %></p>
        <p class="datetime"><%- datetime %></p>
    </div>
    <div class="content loading">
        <div class="lower">
            <div class="text sensitive"><%= contents %></div>

            <%
            if( place ) {
            %>
            <div class="place">
                <%
                %>
                <a href="https://maps.google.com/maps?z=15&q=<%- place.lat %>,<%- place.long %>"
                   target="_blank" title="See it in Google Map">
                    <div class="thumb"></div>
                    <p class="sensitive"><%- place.title %></p>
                </a>
            </div>
            <%
            }

            if( weblink ) {
            %>
            <div class="weblink">
                <a href="<%- weblink.url %>" target="_blank"
                   title="New Window">
                    <div class="thumb"><span></span></div>
                    <p class="url sensitive"><%- weblink.url %></p>
                </a>
            </div>
            <%
            }
            %>
        </div>
    </div>
    <%
    } else {
    %>
    <div class="head">
        <p class="title sensitive"><%- title %></p>
        <p class="charline"><%- chars %></p>
        <p class="charline"><%- lines %></p>
        <p class="datetime"><%- datetime %></p>
    </div>
    <div class="content loading">
        <div class="upper photo sensitive"></div>
        <div class="lower">
            <div class="text sensitive"><%= contents %></div>

            <%
            if( video ) {
            %>
            <div id="video-preview"></div>
            <%
            for( i in video ) {
            %>
            <div class="video">
                <a class="<%- video[i].fileName %>" href="javascript:;">
                    <div class="thumb "><% if (video[i].thumb) {
                        print(video[i].thumb); } %><span></span></div>
                    <p class="title sensitive"><%- video[i].title %></p>
                </a>
            </div>
            <%
            }
            }

            if( voice ) {
            for( i in voice ) {
            %>
            <div class="voice">
                <a class="<%- voice[i].fileName %>" title="Listen to it">
                    <div class="thumb"><span></span></div>
                    <p class="title sensitive"><%- voice[i].title %></p>
                </a>
            </div>
            <%
            }
            }

            if( place ) {
            for( i in place ) {
            if (place[i].latitude) {
            %>
            <div class="place">
                <%
                %>
                <a href="https://maps.google.com/maps?z=15&q=<%- place[i].latitude %>,<%- place[i].longitude %>"
                   target="_blank" title="See it in Google Map">
                    <div class="thumb"></div>
                    <p class="sensitive"><%- place[i].title %></p>
                </a>
            </div>
            <%
            } else {
            %>
            <div class="place">
                <a href="https://maps.google.com/maps?z=15&q=<%- place[i].title %>"
                   target="_blank"
                   title="See it in Google Map">
                    <div class="thumb"></div>
                    <p class="sensitive"><%- place[i].title %></p>
                </a>
            </div>
            <%
            }
            }
            }

            if( book ) {
            for( i in book ) {
            %>
            <div class="book">
                <img class="thumb <% if( book[i].thumb ) { book[i].thumb; } %>"><span></span>
                <p class="title sensitive"><%- book[i].title %></p>
                <p class="desc sensitive"><%- book[i].author %></p>
            </div>
            <%
            }
            }

            if( music ) {
            for( i in music ) {
            %>
            <div class="music">
                <img class="thumb <% if( music[i].thumb ) { music[i].thumb; } %>"><span></span>
                <p class="title sensitive"><%- music[i].title %></p>
                <p class="desc sensitive"><%- music[i].author %></p>
            </div>
            <%
            }
            }

            if( movie ) {
            for( i in movie ) {
            %>
            <div class="movie">
                <img class="thumb <% if( movie[i].thumb ) { movie[i].thumb; } %>"><span></span>
                <p class="title sensitive"><%- movie[i].title %></p>
                <p class="desc sensitive"><%- movie[i].author %></p>
            </div>
            <%
            }
            }

            if( weblink ) {
            for( i in weblink ) {
            %>
            <div class="weblink">
                <a href="<%- weblink[i].url %>" target="_blank"
                   title="New Window">
                    <div class="thumb"><% if( weblink[i].thumb ) { print(
                        weblink[i].thumb ); } %><span></span></div>
                    <p class="url sensitive"><%- weblink[i].url %></p>
                    <p class="desc sensitive"><%- weblink[i].title %></p>
                </a>
            </div>
            <%
            }
            }

            if( iconTags ) {
            %>
            <div class="icontags">
                <%
                for( i in iconTags ) {
                print('<span class="sensitive ' + iconTags[i] + '"></span>');
                }
                %>
            </div>
            <%
            }

            if( textTags.length ) {
            %>
            <div class="texttags">
                <p>
                    <span class="sensitive">&#xf02c</span>
                    <%
                    for( i in textTags ) {
                    if( i != 0 )
                    print(', ');

                    print( textTags[i] );
                    }
                    %>
                </p>
            </div>
            <%
            }
            %>
        </div>
    </div>
    <%
    }
    %>
</script>
<script type="text/x-template" id="edit-view">
    <div id="text-area">
        <input type="text" class="sensitive" id="entry-header"
               autocomplete="off" onclick="this.select()"
               placeholder="Title" autofocus/>
        <div id="entry-summary">
            <span class="entry-data sensitive" id="entry-char"
                  title="Chars">0</span>
            <span class="entry-data sensitive" id="entry-line"
                  title="Lines">0</span>
            <div id="entry-time-wrap">
                <span class="entry-data entry-time-elem sensitive"
                      id="entry-time"
                      title="Current time">000000 0000</span>
                <span class="entry-data entry-time-elem sensitive"
                      id="entry-time-created"
                      title="Created time ">000000 0000</span>
                <span class="entry-data entry-time-elem sensitive"
                      id="entry-time-start" title="Started time">-</span>
                <span class="entry-data entry-time-elem sensitive"
                      id="entry-time-end" title="Ended time">-</span>
            </div>
            <span class="entry-data sensitive" id="entry-elapsed"
                  title="Time elapsed">0:00</span>
        </div>
        <textarea class="sensitive" id="entry-body"></textarea>
        <div id="map-holder">
            <div id="map-selector"></div>
        </div>
        <div id="photo-preview">
            <span></span><img/>
        </div>
        <div id="video-preview"></div>
    </div>
    <div id="attach-area">
        <div class="icontags">
            <div class="weather"></div>
            <div class="emotion"></div>
            <div class="other">
                <div class="other-icons selected"></div>
                <div class="other-icons unselected"></div>
            </div>
        </div>
        <hr/>
        <div class="texttags">
            <span>&#xf02b</span>
            <input type="text" id="entry-tag" placeholder="Tags"
                   autocomplete="off" onclick="this.select()"/>
            <div class="other">
                <%
                if( textTags ) {
                for( i in textTags ) {
                %>
                <p title="Click to remove"><% print( "#" + textTags[i] ); %></p>
                <%
                }
                }
                %>
            </div>
        </div>
        <hr/>
        <div class="types">
            <p id="no-cover" onclick="edit.coverSet(-1, true)" class="selected">
                &#xf016</p>
            <p id="photo-cover" onclick="edit.coverSet(0, true)">&#xf1c5</p>
            <p id="video-cover" onclick="edit.coverSet(1, true)">&#xf1c8</p>
            <p id="voice-cover" onclick="edit.coverSet(3, true)">&#xf1c7</p>
            <p id="place-cover" onclick="edit.coverSet(2, true)">&#xf041</p>
            <p id="music-cover" onclick="edit.coverSet(4, true)">&#xf001</p>
            <p id="movie-cover" onclick="edit.coverSet(5, true)">&#xf008</p>
            <p id="book-cover" onclick="edit.coverSet(6, true)">&#xf02d</p>
            <p id="weblink-cover" onclick="edit.coverSet(7, true)">&#xf0c1</p>
        </div>
        <hr/>
        <div class="images"></div>
        <%
        if( video ) {
        for( i in video ) {
        %>
        <div class="video resource">
            <a class="<%- video[i].fileName %>" onclick="edit.video(<%- i %>)"
               title="View">
                <div class="thumb"><span></span></div>
                <input disabled class="title" value="<%- video[i].title %>"/>
            </a>
        </div>
        <%
        }
        }

        if( voice ) {
        for( i in voice ) {
        %>
        <div class="voice resource">
            <a class="<%- voice[i].fileName %>" onclick="edit.voice(<%- i %>)"
               title="View">
                <div class="thumb"><span></span></div>
                <input disabled class="title sensitive"
                       value="<%- voice[i].title %>"/>
            </a>
        </div>
        <%
        }
        }

        if( place ) {
        for( i in place ) {
        %>
        <div class="place">
            <a title="Edit" onclick="edit.location(<%- i %>)"
               href="javascript:;">
                <div class="thumb"></div>
                <input disabled title="Place"
                       class="title place-search sensitive" autocomplete="off"
                       onclick="this.select()" value="<%- place[i].title %>"/>
                <%
                if (place[i].latitude) {
                %>
                <input disabled title="Latitude" class="desc latitude sensitive"
                       autocomplete="off"
                       onclick="this.select()"
                       value="<%- place[i].latitude %>"/>
                <p>,</p>
                <input disabled title="Longitude"
                       class="desc longitude sensitive" autocomplete="off"
                       onclick="this.select()"
                       value="<%- place[i].longitude %>"/>
                <%
                } else {
                %>
                <input disabled title="Latitude" class="desc latitude sensitive"
                       autocomplete="off"
                       onclick="this.select()" id="latitude"/>
                <p>,</p>
                <input disabled title="Longitude"
                       class="desc longitude sensitive" autocomplete="off"
                       onclick="this.select()" id="longitude"/>
                <%
                }
                %>
            </a>
        </div>
        <%
        }
        }

        if( book ) {
        for( i in book ) {
        %>
        <div class="book">
            <a title="Edit" onclick="edit.book(<%- i %>)" href="javascript:;">
                <img class="thumb"><span></span>
                <input disabled class="title sensitive" placeholder="Book title"
                       value="<%- book[i].title %>"
                       autocomplete="off" onclick="this.select()"/>
                <input disabled class="desc sensitive" placeholder="Author"
                       value="<%- book[i].author %>"
                       autocomplete="off" onclick="this.select()"/>
            </a>
        </div>
        <%
        }
        }

        if( music ) {
        for( i in music ) {
        %>
        <div class="music">
            <a title="Edit" onclick="edit.music(<%- i %>)" href="javascript:;">
                <img class="thumb"><span></span>
                <input disabled class="title sensitive" placeholder="Track name"
                       value="<%- music[i].title %>"
                       autocomplete="off" onclick="this.select()"/>
                <input disabled class="desc sensitive" placeholder="Artist"
                       value="<%- music[i].author %>"
                       autocomplete="off" onclick="this.select()"/>
            </a>
        </div>
        <%
        }
        }

        if( movie ) {
        for( i in movie ) {
        %>
        <div class="movie">
            <a title="Edit" onclick="edit.movie(<%- i %>)" href="javascript:;">
                <img class="thumb"><span></span>
                <input disabled class="title sensitive"
                       placeholder="Movie title" value="<%- movie[i].title %>"
                       autocomplete="off" onclick="this.select()"/>
                <input disabled class="desc sensitive" placeholder="Director"
                       value="<%- movie[i].author %>"
                       autocomplete="off" onclick="this.select()"/>
            </a>
        </div>
        <%
        }
        }

        if( weblink ) {
        for( i in weblink ) {
        %>
        <div class="weblink">
            <a title="Edit" onclick="edit.weblink(<%- i %>)"
               href="javascript:;">
                <div class="thumb"><span></span></div>
                <input disabled class="title sensitive" placeholder="Title"
                       value="<%- weblink[i].title %>"/>
                <input disabled class="desc sensitive" placeholder="http://"
                       value="<%- weblink[i].url %>"/>
            </a>
        </div>
        <%
        }
        }
        %>
    </div>
</script>
<script type="text/x-template" id="archive-view">
    <li class="archive">
        <a href="javascript:;" class="<% if (protect) { print('protect'); } %>">
            <p class="title"><%= name.replace("_data","data") %></p>
            <p class="size" title="Size"><%= size %></p>
            <p class="datetime"><%= created %></p>
        </a>
    </li>
</script>
<script type="text/x-template" id="archive-detail-view">
    <div class="head">
        <p class="title"><%= name.replace("_data","data") %></p>
        <p class="datetime">Created: <%- created %></p>
        <p class="datetime">Last Modified: <%- modified %></p>
    </div>
    <div class="content loading">
        <div class="lower">
            <div class="text">
                <table id="archive-preview">
                    <tbody>
                    <tr>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Contents</th>
                    </tr>
                    <%
                    if (contents) {
                    for (var i = 0; i !== contents.length && i < 50; ++i) {
                    %>
                    <tr>
                        <td class="time sensitive"><%-
                            contents[i]["time"]["created"] %>
                        </td>
                        <td class="title sensitive"><%- contents[i]["title"]
                            %>
                        </td>
                        <td class="body sensitive"
                            title="<%- contents[i]['text']['body'] %>"><%-
                            contents[i]["text"]["body"] %>
                        </td>
                    </tr>
                    <%
                    }
                    }
                    %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
</body>
</html>